body {
	background-image: none;
	background-color: #f5f7fb;
}

#Controls {
	position: fixed;
	top: 0;
	right: 10em;
	cursor: move;
}

#container {
	display: flex;
	background-color: white;
	width: calc(100% - 16px);
	border: 1px solid #e5e7eb;
	margin: 16px;
	border-radius: 12px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06);
}

pre,
code {
	padding-top: 0;
	margin-top: 0;
	max-width: 75vw;
}

#separator {
	cursor: col-resize;
	background-color: #aaa;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='30'><path d='M2 0 v30 M5 0 v30 M8 0 v30' fill='none' stroke='black'/></svg>");
	background-repeat: no-repeat;
	background-position: center;
	min-width: 5px;
	min-height: 100%;

	/* Prevent the browser's built-in drag from interfering */
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#sdaSource {
	background-color: rgba(51, 54, 149, 0.01);
	height: 100%;
	min-width: 10px;
}

#fhirSource {
	background-color: rgba(0, 181, 175, 0.01);
	height: 100%;
	min-width: 10px;
}

.highlight {
	background-color: aqua;
}

.hljs-tag,
.hljs-name {
	/* xml */
	color: #444a;
	font-weight: lighter;
}

.hljs-attr {
	color: #22509f;
}

.hljs-xmlval {
	color: #800;
	font-weight: bolder;
}